#Data Analytics/ML
pandas
numpy
scikit-learn
notebook
requests
redlines
panel
jupyter_bokeh

#
python-dotenv
requests
browser-cookie3
PyJWT
PyQt5
PyQt5-Qt5
PyQt5-sip
PyQtWebEngine
PyQtWebEngine-Qt5

#PDF
pdfkit

#snowflake
snowflake-connector-python


#Flow Login
python-dotenv
webdriver_manager==4.0.1
selenium==4.21.0